/* Every thing */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Cairo', sans-serif;
 font-weight: 400;
}

Body {
 position: relative;
 min-height: 100vh;
 width: 100%;
 overflow-x: hidden;
}

#back-black {
 height: 100% ;
 width: 100%;

 opacity: 1;
}

#back-black1 {
 height: 100% ;
 width: 100%;

 opacity: 1;
 display: block;
}

/* Every thing End */


/* sidebar work */
.sidebar {
 position: fixed;
 z-index: 12;
 top: 0;
 left: 0;
 height: 100%;
 width: 78px;
 background-color: #11101d;
 padding: 6px 14px;
 transition: all 0.5s ease;
}


/* java + css */
.active {
 width: 240px;
}

.active .logo_content .logo{
 opacity: 1;
 pointer-events: none;
}


/*  */
.sidebar > .logo_content > .logo {
 color: #11101d; 
 display: flex;
 height: 50px;
 width: 100%;
 align-items: center;
 opacity: 1;
 pointer-events: none;
}

.logo_content > .logo > i {
 font-size: 25px;
 margin-right: 5px;
}

.logo_content > .logo > .logo_name {
 font-size: 25px;
 font-weight: 400;
}

.sidebar  #btn {
 position: absolute;
 color: #fff;
 left: 85%;
 top: 6px;
 font-size: 20px;
 height: 50px;
 width: 50px;
 text-align: center;
 line-height: 50px;
 transform: translateX(-50%);
}

.sidebar > ul {
 margin-top: 20px;
}

.sidebar > ul > li {
 position: relative;
 height: 50px;
 width: 100%;
 list-style: none;
 margin: 0 3px 5px;
 line-height: 50px;
 border-radius: 12px;
}
.sidebar > ul > li > input{
 position: absolute;
 height: 100%;
 width: 100%;
 left: 0;
 top: 0;
 border-radius: 12px;
 outline: none;
 border: none;
 background-color: #1d1b31;
 padding-left: 50px;
 font-size: 18px;
 color: #fff;
}
.sidebar > ul > li > .bx-search { 
 position: absolute;
 z-index: 1;
 font-size: 22px;
}


.sidebar > ul > li {
 color: #fff;
 display: flex;
 align-items: center;
 text-decoration: none;
 transition: all 0.3s ease;
 border-radius: 12px;
}

.sidebar > ul > li > i { 
 height: 50px;
 min-width: 50px;
 border-radius: 12px;
 line-height: 50px;
 text-align: center;
}

.sidebar li:hover {
 background-color: #bfbae3;
}

.sidebar .profile_content {
 position: absolute;  
 color: #fff;
 bottom: 0;
 left: 0;
 width: 100%;
}

.profile {
 padding: 7px;
}

.sidebar .profile_content .profile {
 position: relative;
 padding: 10px 6px;
 height: 60px;
 background-color: #1d1b31;
}

.profile_content .profile .Profile_details {
 display: flex;
 align-items: center;
}

.profile .Profile_details img {
 height: 45px;
 width: 45px;
 object-fit: cover;
 border-radius: 12px;
}

.profile .Profile_details .name_job {
 margin-left: 10px;
}

.profile .Profile_details .name {
 font-size: 15px;
 font-weight: 400;
}

.profile .Profile_details .job {
 font-size: 12px;
}

.profile #log_out {
 position: absolute;
 left: 88%;
 bottom: 5px;
 transform: translateX(-50%);
 min-width: 50px;
 line-height: 50px;
 border-radius: 12px;
}

#name {
display: none;
}
#job {
display: none;
}
#log_out {
display: none;
}
#links_con {
 color: #11101d;
}


.sidebar  a  {
 display: flex;
 color: #fff;
 text-decoration: none;
 line-height: 50px;
 margin: 0 3px 5px;
 align-items: center;
 text-align: center;
}

.sidebar  i {
 display: flex;
 color: #fff;
 text-decoration: none;
 line-height: 50px;
 align-items: center;
 text-align: center;
}

.sidebar .links_name {
 margin-left: 25px;
}

.sidebar i {
 margin-left: 15px;
}
/* sidebar work end */


/* side small */

.sidebar ul li .Tooltip {
 color: #ddd;
 position: absolute;
 left: 75px;
 top: 0;
 transform: translateY(-50%);
 border-radius: 6px;
 line-height: 35px;
 text-align: center;
 width: 180px;
 height: 35px;
 background-color: #11101d;
 box-shadow: rgba(190, 186, 227, 0.2);
 transition: 0s;
 opacity: 0;
 pointer-events: none;
 
}


.sidebar ul li:hover .Tooltip {
 transition: all 0.4s ease;
 top: 50%;
 opacity: 1;
}


#small_side {
 display: block;
}

.links_name {
 display: none;
}


span {
 display: flex;
 justify-content: center;
}

/* side small end */

/* mid nav */

.mid-nav-bar {
 position: fixed;
 display: flex;
 text-align: center;
 line-height: 60px;

 left: 78px;
 padding: 0 0 0 65px;
 width: 100%;
 height: 60px; 

 z-index: 1;

 background-color: #11101d;
 color: #fff;

 transition: all 0.5s ease;
}
.mid-nav-bar img {
 margin-top: 13px;
}
.midnav-name {
 text-align: center;
 font-size: 35px;
 transition: all 0.5s ease;
}

.nav-itemso {
 display: flex;
}


/* home content */
 

.home_content {
 position: absolute;

 width: 100% ;
 height: 10vh ;

 display: flex;
 align-items: center;
 text-align: center;
 flex-direction: column;

 margin-right: 300px;
 left: 78px;
 
 transition: all 0.5s ease;
 color: #11101d;
}

.textoo {
 font-size: 25px;
 font-weight: 500;
}

/* the content */

.container-home {
 height: 640vh;
}

.con-ques {
 height: 100vh;
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 30px; 
}

.block {
 display: block;
}

.flex {
 display: flex;
 justify-content: center;
}

.conso {
 width: 1000px;
 height: 600px;
 border: solid 3px #11101d;
 background-color: #f3f7fa;
 border-radius: 12px;
 font-size: 30px;

 justify-content: center;
}

.boxs {
 width: 200px;
 height: 210px;
 background-color: #bfbae3;
 border-radius: 30px;
 font-size: 15px;
 padding: 5px;
 margin-left: 7px;
 border: solid 2px #11101d;
 position: relative;

 align-items: center;
 transition: all 0.3s ease-in-out;
}

.bottom {
 margin-top: 10px;
}
.bottom2{
margin-top: 13px;
}

.boxs:hover {
 scale: 1.02;
}

.conso ul {
 direction: rtl;
 list-style: none;
 padding: 5px;
 text-align: right;
}

.conso ul li a {
 padding: 7px;
 color: #11101d;
 text-decoration: none;
 transition: all 0.3s ease-in-out;
}

.conso ul li a:hover {
 color: #bfbae3;
}

.tests {
 width: 1000px;
 height: 350px;
 background-color: #f3f7fa;
 border: #11101d solid 3px;
 border-radius: 12px;
}

.tests p {
 padding: 7px;
 text-align: right;
 font-size: 25px;
}

.con-ques button {
 width: 130px;
 height: 40px;
 border-radius: 12px;
 border: #11101d solid 2px;
 background-color: #1d1b31;
 color: #fff;
 transition: all 0.3s ease-in-out;
}

.con-ques button:hover {
 background-color: #bfbae3;
}

/* ---------------------- */
.diso-flexo {
 display: flex;
}
.tst-txt-cen{
 text-align: center;
}

.tst7-h1 {
 position: relative;
 text-align: center;
 left: 50%;
 width: 150px;
 height: 35px;
 border: #e6e6e6;
 border-radius: 10px;
}

.items.cen.tst7 {
 display: flex;
 align-items: center;
}

/* questions */
.questions-container-tst7{
 display: flex;
 justify-content: center;
 align-items: center;
}


.tst7-h1q{
 text-align: center;
 font-size: 18px;
 margin-top: 8px;
}

.tst7-inputs {
 display: flex;
 margin: 9px;
 line-height: 30px;
}

.tst7-container {
 z-index: 99;
 position: fixed;
 top: 25%;
 left: 42%;
 height: 570px;
 width: 350px;
 background-color: #fff;
 border: solid 2px black;
 border-radius: 50px;
 padding: 7px;
 justify-content: center;
 display: none; 
 color: #11101d;
}

.tst7-label1{
 display: flex;
}

.tst-tst7 {
direction: rtl;
}

/* cantact */
.items.cen.tst7 {
 justify-content: center;
display: flex;
}

.tst-con7{
 text-align: center;
 margin-left: 30px;
 margin-bottom: 5px;

}
.Name-bar {
 padding: 5px;
 border-radius: 10px;
 height: 40px;
 width: 280px;
}

.btn-tst7 {
 width: 120px;
 height: 35px ;
 font-size: 13px;
 border-radius: 5px;
 margin-left: 115px;
 display: flex;
 justify-content: center;
 background-color: #11101d;
 color: #fff;
 transition: all 0.3s ease-in-out;
}
.btn-tst7:hover {
background-color: #bfbae3;
}

.placex {
 float: right;
 padding: 5px;
 width: 30px;
 background-color: #1d1b31;
 color: #fff;
 border-radius: 45%;
 border: #bfbae3 solid 2px;
 transition: all 0.3s ease-in-out;
}

.placex:hover {
 border: #1d1b31 solid 2px;
 background-color: #bfbae3;
}
/* displays */

#quests3 {
 display: none;
}  

#quests4 {
 display: none;
}  

#quests5  {
 display: none;
}  

#quests6 {
 display: none;
}  

#quests7 {
 display: none;
}  

#quests8 {
 display: none;
}  

#quests9 {
 display: none;
}  

#nxt-btno-hio2 {
 display: none;
}
   
#nxt-btno-hio3 {
 display: none;
}
   
#nxt-btno-hio4 {
 display: none;
}
   

#contact-bar-tst{
 display: none;
}
/* ------------------ */


#itesto1 {
 scroll-margin-top: 100px;
}

#itesto2 {
 scroll-margin-top: 100px;
}

#itesto3 {
 scroll-margin-top: 100px;
}


/* home content end */

/* footer */

.FooterWeb {
 height: 60px;
 width: 100%;
 background-color: #1d1b31;
 padding: 10px 6px;
 color: #fff;

 transition: all 0.3s ease;
}

.copyright a{
 font-size: 15px;
 margin-left: 60px;
 text-decoration: none;
 color: #fff;
 float: left;
 line-height: 50px;
 transition: all 0.3s ease-in-out;
}

.copyright a:hover {
 color: #bfbae3;
}

.toopbtn {
 float: right;
 width: 80px;
 height: 40px;
 margin-right: 100px;
 border: none;
 border-radius: 12px;
 background-color: #1d1b31;
 color: #fff;
 transition: all 0.3s ease-in-out;
}

.toopbtn:hover {
 background-color: #bfbae3;

}
